body{
font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
  font-size:30px;
font-weight:bold;
 }

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
	
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
.nav_bg{
	background:#FB4D07;
	height:58px;
}
.nav li {
	display:inline-block;
}
.nav li a {
	font-family: 'Source Sans Pro', sans-serif;
	line-height:1.8em;
	display:block;
	text-decoration:none;
	font-weight:normal;
	color:#ffffff;
	padding:15px 20px;
	font-size: 1em;
	text-transform: capitalize;
	text-shadow: 0 1px 0 #5C2830;
	letter-spacing:0px;
}
.nav li.active a {
	text-shadow: 0 1px 0 #EBEBEB;
	color:#D13949;
	background: #E5E5E5;
	background: -moz-linear-gradient(top, #E5E5E5 0%, #C4C4C4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(100%,#C4C4C4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5', endColorstr='#C4C4C4',GradientType=0 );
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	box-shadow: inset 0px -2px 4px #9C9797;
	-webkit-box-shadow: inset 0px -2px 4px #9C9797;
	-moz-box-shadow: inset 0px -2px 4px #9C9797;
	-o-box-shadow: inset 0px -2px 4px #9C9797;
}
.nav li a:hover {
	text-shadow: 0 1px 0 #EBEBEB;
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
	color:#D13949;
	background: #E5E5E5;
	background: -moz-linear-gradient(top, #E5E5E5 0%, #C4C4C4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(100%,#C4C4C4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5', endColorstr='#C4C4C4',GradientType=0 );
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	box-shadow: inset 0px -2px 4px #9C9797;
	-webkit-box-shadow: inset 0px -2px 4px #9C9797;
	-moz-box-shadow: inset 0px -2px 4px #9C9797;
	-o-box-shadow: inset 0px -2px 4px #9C9797;
}
.wrap{
		width:95%;
	}

.tableborder {
    border:solid 2px #e33e4f;
    background-color:#f8f1e4;
    box-shadow:5px 5px 5px 5px #bbb4b4;
    width: 570px;
    color:red;
}
table .adminspan{

}